.vertical-text{
    padding-left: 50px;
}
.keyWord{
   padding-left: 800px;
   padding-top: 20px;
}
hr{
    size: 5px;
    color: rgba(219, 77, 255,1);
    width: 5px;
    
}
.strokes{
    padding-left: 800px;
   padding-top: 10px;
}
.caption{
    padding-left: 900px;
    margin-top: -68px;
}
.line{
    display: block;
	background-color: #5dbcff;
	width: 120px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
    margin-left: -60px;
    margin-top: 60px;
}
.bio-image{
    padding-top: 15px;
    width: 130%;
    height: 130%;
}
.title-biosensor{
    padding-top: 20px;
    text-align: center;
}